.icon-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: auto;
        }
        .what{
            font-family: 'New Amsterdam', sans-serif; 
            font-weight: 400;
            color: #1a1a1a;
        }
        .opensanz{
            font-family: 'Open sans', sans-serif;
            color: #1a1a1a;
        }
        .falling-icon {
            position: absolute;
            width: 40px;
            height: 40px;
            top: -100px;
            opacity: 0;
            cursor: grab;
            pointer-events: auto;
        }
        
        .falling-icon.dragging {
            cursor: grabbing;
            animation: none !important;
            z-index: 1000;
        }
        .miniNav-slide{
            animation: miniSlide 35s linear 0s infinite;
        }
        @keyframes miniSlide {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(100%);
            }
        }
        @keyframes fallDown {
            0% {
                top: -100px;
                opacity: 0;
            }
            2% {
                opacity: 0.8;
            }
            98% {
                opacity: 0.8;
            }
            100% {
                top: 100%;
                opacity: 0;
            }
        }
        
        @keyframes img-tilt {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        