<nav class="w-full relative">
    <ul
        class="hidden w-[90%] mx-auto md:flex justify-left space-x-[60px] p-6 text-2xl font3 text-black what"
        id="main-nav">
    </ul>

    <details class="md:hidden w-full mt-2 group ">

        <summary
            class="list-none cursor-pointer p-3 border border-gray-950 rounded-md flex justify-end size-[50px] items-center ml-auto mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30"
                height="30" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-text-align-justify-icon lucide-text-align-justify">
                <path d="M3 5h18" />
                <path d="M3 12h18" />
                <path d="M3 19h18" />
            </svg>
        </summary>
        <div
            class="absolute top-full right-0 bg-white shadow-lg border rounded mt-1 w-[270px] text-2xl
                    opacity-0 scale-95 -translate-y-2
                    group-open:opacity-100 group-open:scale-100 group-open:translate-y-0
                    transition-all duration-200 ease-out transform origin-top-right
                    overflow-hidden z-50">
            <ul class="what text-center">
                <li class="p-4 hover:bg-gray-100 cursor-pointer">
                    <a href="#home"
                        class="size-full block">About</a>
                    <a href="#home"
                        class="size-full block">Projects</a>
                    <a href="#home"
                        class="size-full block">Contact</a>
                    <a href="#home"
                        class="size-full block">Switch</a>
                </li>
            </ul>
        </div>
    </details>
</nav>